/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Varela Round', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lobster', cursive;
  color: #23293B;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  padding: 20px;
  border-radius: 10px;
  background-color: #E60023;
}
.navigation .topContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}
@media (max-width:500px) {
  .navigation .topContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width:500px) {
  .title {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.title h1 {
  width: 100%;
  font-family: Lobster;
  font-size: 8rem;
  color: white;
}
.nav {
  width: 30%;
  padding: 0 20px;
}
@media (max-width:500px) {
  .nav {
    width: 100%;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lobster;
  font-size: 2.5rem;
}
nav a {
  color: white;
}
footer {
  background: #E60023;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
}
footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Content .Content1 {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .Content .Content1 {
    flex-direction: column;
  }
}
.Content .Content1 .picture {
  width: 70%;
  margin: 10%;
}
.Content .Content1 .text {
  display: flex;
  margin: 5% 5% 5% 0;
  color: black;
}
.Content .Content2 {
  width: 90%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
@media (max-width:500px) {
  .Content .Content2 {
    flex-direction: column-reverse;
    margin-left: 5%;
  }
}
.Content .Content2 .picture {
  width: 70%;
  margin: 10%;
}
@media (max-width:500px) {
  .Content .Content2 .picture {
    width: 90%;
    margin-left: 5%;
  }
}
.Content .Content2 .text {
  display: flex;
  margin: 5% 5% 5% 5%;
  color: black;
}
/*About Us page______________________________________________________________*/
.aboutUs header {
  margin: 5% 5%;
  padding: 20px;
}
.aboutUs header h2 {
  color: black;
  font-family: Lobster;
  font-size: 5.5rem;
}
.aboutUs .teamMember {
  width: 90%;
  margin: 5%;
}
.aboutUs .teamMember .info {
  width: 100%;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:500px) {
  .aboutUs .teamMember .info {
    flex-direction: column;
  }
}
.aboutUs .teamMember .info img {
  width: 45%;
  margin: 0 3%;
}
@media (max-width:500px) {
  .aboutUs .teamMember .info img {
    width: 100%;
    margin-bottom: 5%;
  }
}
.aboutUs .teamMember .info .text {
  width: 45%;
  margin: 0 3%;
  color: black;
}
@media (max-width:500px) {
  .aboutUs .teamMember .info .text {
    width: 75%;
  }
}
.aboutUs .teamMember2 {
  width: 90%;
  margin: 5%;
}
.aboutUs .teamMember2 .info {
  width: 100%;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:500px) {
  .aboutUs .teamMember2 .info {
    flex-direction: column-reverse;
  }
}
.aboutUs .teamMember2 .info img {
  width: 45%;
  margin: 0 3%;
}
@media (max-width:500px) {
  .aboutUs .teamMember2 .info img {
    width: 100%;
    margin-bottom: 5%;
  }
}
.aboutUs .teamMember2 .info .text {
  width: 45%;
  margin: 0 3%;
  color: black;
}
@media (max-width:500px) {
  .aboutUs .teamMember2 .info .text {
    width: 75%;
  }
}
