// Footer Styles
footer {
	background: #e60023;
	padding: 20px 0;
	border: 1px double #e0e0e0;
	border-radius: 50% 50% 0 0;

	nav {
		.displayBox(space-around, center);
		margin-top: 1%;

		@media @tablet{
			font-size: 3rem;

			.fas{
				display:none;
			}

			.far {
				display: none;
			}
		}

		@media @mobile {

			font-size: 1.50rem;
			
			.fas {
				display: none;
			}
			.far {
				display: none;
			}
		}
	}
	p {
		.displayBox(center,center);
		color: white;
	}
}
