// Home Content

.Content{

.Content1 {
  display:flex;
  width:90%;
  text-align: center;
  padding: 20px;

    .picture1{
      width:70%;
      margin:10%;
    }
    .text{
      display: flex;
      margin:5% 5% 5% 0;
      color:black;
    }
  
}

.Content2 {
  display:flex;
  width:100%;
  text-align: center;
  padding: 20px;

    .picture1{
      width:70%;;
      margin:10%;
    }
    .text{
      display: flex;
      margin:5% 5% 5% 5%;
      color:black;
    }
  
  }
}

// home